.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  .header {
    a {
      color: #404040;
      display: inline-block;
      border: 1px solid #404040;
      border-radius: 999em;
      padding: 0 10px 0 10px;
      line-height: 24px;
      font-size: 12px;
      text-decoration: none;
      margin: 0 1px 0 0;
      cursor: pointer;
      &:hover {
        color: #1890ff;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    h1 {
      font-size: 55px;
      margin-top: 20px;
      margin-bottom: 24px;
      line-height: 1.1;
      font-weight: 700;
    }
    h2 {
      font-size: 20px;
      font-family: Lora, "Times New Roman", serif;
      font-style: italic;
      font-weight: 300;
      line-height: 1.1;
    }
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #eee;
    }
  }
  pre {
    background-color: ghostwhite;
  }
}
