.container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  min-height: 100vh;
  .area {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    h1 {
    }
    hr {
      margin: 20px 0;
    }
    .singleCard {
      height: 300px;
      margin: 50px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 2px 10px rgba(10, 16, 20, 0.24);
      }
    }
  }
}
